In [1]:
import os
# Move working directory 1 level up
os.chdir(os.path.abspath(os.path.join(os.getcwd(), "..")))
print("New working directory:", os.getcwd())

!pip install -r requirements.txt --quiet

New working directory: g:\Other computers\Flip15\UWA\3rd Semester\Data Warehousing\PROJECT WH\DataWH_project

#### 1. EXTRACT

In [2]:
os.path.abspath(os.getcwd())

'g:\\Other computers\\Flip15\\UWA\\3rd Semester\\Data Warehousing\\PROJECT WH\\DataWH_project'

In [3]:
from pathlib import Path
import pandas as pd

def extract_excel(file_name , sheet_name):
    # Extracting path of the repository
    BASE_DIR = Path.cwd().resolve()
    # Handle the extraction of excel data
    PATH = BASE_DIR / "raw_data" / file_name
    print(PATH)
    return pd.read_excel(PATH, sheet_name= sheet_name)

# Extracting data from the excel files, we will ignore all files that not been choisen to be used in the data warehouse
Fatal_Crash = extract_excel("bitre_fatal_crashes_dec2024.xlsx", "BITRE_Fatal_Crash")
Fatality = extract_excel("bitre_fatalities_dec2024.xlsx", "BITRE_Fatality")
Population = extract_excel("Population estimates by LGA, Significant Urban Area, Remoteness Area, Commonwealth Electoral Division and State Electoral Division, 2001 to 2023.xlsx", "Table 3")

G:\Other computers\Flip15\UWA\3rd Semester\Data Warehousing\PROJECT WH\DataWH_project\raw_data\bitre_fatal_crashes_dec2024.xlsx
G:\Other computers\Flip15\UWA\3rd Semester\Data Warehousing\PROJECT WH\DataWH_project\raw_data\bitre_fatalities_dec2024.xlsx
G:\Other computers\Flip15\UWA\3rd Semester\Data Warehousing\PROJECT WH\DataWH_project\raw_data\Population estimates by LGA, Significant Urban Area, Remoteness Area, Commonwealth Electoral Division and State Electoral Division, 2001 to 2023.xlsx

#### 2. TRANSFORMATION

In [4]:
def missing_treatment(data):
    # Handle the missing data
    data.replace("-9", "Unknown", inplace=True)
    data.replace(-9, "Unknown", inplace=True)
    #data.replace("Unknown", pd.NA, inplace=True)
    data.replace("-9/Unknown", "Unknown", inplace=True)
    return data

def clear_not_data_rows(data, n_rows):
    # Clearning the unwanted rows
    data.columns = data.iloc[n_rows]
    data.drop(index=range(0,n_rows+1), inplace=True) 
    # Reset the index after dropping rows
    data.reset_index(drop=True, inplace=True)
    return data

def unpivot_unmerge_cell(data):
    data["State/Territory"].fillna(method='ffill', inplace=True)
    # Unpivot the population data to long format
    data = data.melt(
        id_vars=[data.columns[0], data.columns[1]],  
        var_name="Year",      # col names to value col name
        value_name="Population"  # value contain col
    )
    return data

def extract_hour(data):
    # Convert the 'Time' column to datetime format and extract the hour as HH
    data['Time'] = pd.to_datetime(data['Time'], format='%H:%M:%S', errors='coerce') \
                    .dt.strftime('%H')
    return data

def create_sk(data, name_sk):
    # Create a surrogate key (sk) for the data
    data = data.reset_index(drop=True).reset_index(drop=False) # create sk
    data = data.rename(columns={'index': name_sk}) # change to sk
    data.iloc[:,0] = data.iloc[:,0]+1 # +1 for sk
    return data

def extract_drop_dup(data, list_col):
    # Extract the data and drop the duplicates
    data = data[list_col]
    data = data.drop_duplicates()
    return data

def create_dim_table(data, list_col, name_sk):
    # Pre-loading the data
    data = extract_drop_dup(data, list_col)
    data = create_sk(data, name_sk)
    return data

In [5]:
# Exploring data set Fatal_Crash
Fatal_Crash

,Fatal Crash Data,Unnamed: 1,(Data current to December 2024),Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Note: A value of '-9' is used for a missing/un...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Number Fatalities,Bus \nInvolvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,Speed Limit,National Remoteness Areas,SA4 Name 2021,National LGA Name 2021,National Road Type,Christmas Period,Easter Period,Day of week,Time of Day
4,20241115,NSW,12,2024,Friday,04:00:00,Single,1,No,No,No,100,Inner Regional Australia,Riverina,Wagga Wagga,Arterial Road,Yes,No,Weekday,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51283,19891246,NSW,1,1989,Wednesday,17:05:00,Single,1,Yes,-9,No,60,Unknown,NaN,NaN,Undetermined,No,No,Weekday,Day
51284,19892038,Vic,1,1989,Wednesday,18:50:00,Single,1,Yes,No,No,60,Unknown,NaN,NaN,Undetermined,No,No,Weekday,Night
51285,19894064,SA,1,1989,Wednesday,19:00:00,Multiple,1,No,-9,No,100,Unknown,NaN,NaN,Undetermined,No,No,Weekday,Night
51286,19896006,Tas,1,1989,Wednesday,20:20:00,Multiple,6,No,-9,Yes,100,Unknown,NaN,NaN,Undetermined,No,No,Weekday,Night
51287,19895133,WA,1,1989,Wednesday,21:00:00,Multiple,1,No,-9,No,-9,Unknown,NaN,NaN,Undetermined,No,No,Weekday,Night

In [6]:
# Clearing the data from the Fatal_Crash
Fatal_Crash = clear_not_data_rows(Fatal_Crash, 3)
Fatal_Crash = missing_treatment(Fatal_Crash)
Fatal_Crash = extract_hour(Fatal_Crash)
# Rename the column that have \n in its name
Fatal_Crash = Fatal_Crash.rename(columns={'Bus \nInvolvement': 'Bus Involvement'})
Fatal_Crash

C:\Users\dtt16\AppData\Local\Temp\ipykernel_32204\3785816588.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.replace(-9, "Unknown", inplace=True)

3,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Number Fatalities,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,Speed Limit,National Remoteness Areas,SA4 Name 2021,National LGA Name 2021,National Road Type,Christmas Period,Easter Period,Day of week,Time of Day
0,20241115,NSW,12,2024,Friday,04,Single,1,No,No,No,100,Inner Regional Australia,Riverina,Wagga Wagga,Arterial Road,Yes,No,Weekday,Night
1,20241125,NSW,12,2024,Friday,06,Single,1,No,No,No,80,Inner Regional Australia,Sydney - Baulkham Hills and Hawkesbury,Hawkesbury,Local Road,No,No,Weekday,Day
2,20246013,Tas,12,2024,Friday,09,Multiple,1,No,No,No,50,Inner Regional Australia,Launceston and North East,Northern Midlands,Local Road,Yes,No,Weekday,Day
3,20241002,NSW,12,2024,Friday,10,Multiple,1,No,No,No,100,Outer Regional Australia,New England and North West,Armidale Regional,National or State Highway,No,No,Weekday,Day
4,20242261,Vic,12,2024,Friday,11,Multiple,1,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,Undetermined,No,No,Weekday,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51279,19891246,NSW,1,1989,Wednesday,17,Single,1,Yes,Unknown,No,60,Unknown,NaN,NaN,Undetermined,No,No,Weekday,Day
51280,19892038,Vic,1,1989,Wednesday,18,Single,1,Yes,No,No,60,Unknown,NaN,NaN,Undetermined,No,No,Weekday,Night
51281,19894064,SA,1,1989,Wednesday,19,Multiple,1,No,Unknown,No,100,Unknown,NaN,NaN,Undetermined,No,No,Weekday,Night
51282,19896006,Tas,1,1989,Wednesday,20,Multiple,6,No,Unknown,Yes,100,Unknown,NaN,NaN,Undetermined,No,No,Weekday,Night
51283,19895133,WA,1,1989,Wednesday,21,Multiple,1,No,Unknown,No,Unknown,Unknown,NaN,NaN,Undetermined,No,No,Weekday,Night

In [7]:
# Exploring data set Fatality
Fatality

,Fatality Data,Unnamed: 1,(Data current to December 2024),Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Note: A value of '-9' is used for a missing/un...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,...,Age,National Remoteness Areas,SA4 Name 2021,National LGA Name 2021,National Road Type,Christmas Period,Easter Period,Age Group,Day of week,Time of day
4,20241115,NSW,12,2024,Friday,04:00:00,Single,No,No,No,...,74,Inner Regional Australia,Riverina,Wagga Wagga,Arterial Road,Yes,No,65_to_74,Weekday,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56873,19896006,Tas,1,1989,Wednesday,20:20:00,Multiple,No,-9,Yes,...,13,Unknown,NaN,NaN,Undetermined,No,No,0_to_16,Weekday,Night
56874,19896006,Tas,1,1989,Wednesday,20:20:00,Multiple,No,-9,Yes,...,13,Unknown,NaN,NaN,Undetermined,No,No,0_to_16,Weekday,Night
56875,19896006,Tas,1,1989,Wednesday,20:20:00,Multiple,No,-9,Yes,...,18,Unknown,NaN,NaN,Undetermined,No,No,17_to_25,Weekday,Night
56876,19896006,Tas,1,1989,Wednesday,20:20:00,Multiple,No,-9,Yes,...,14,Unknown,NaN,NaN,Undetermined,No,No,0_to_16,Weekday,Night
56877,19895133,WA,1,1989,Wednesday,21:00:00,Multiple,No,-9,No,...,70,Unknown,NaN,NaN,Undetermined,No,No,65_to_74,Weekday,Night

In [8]:
# Clearing the data from the Fatal_Crash
Fatality = clear_not_data_rows(Fatality, 3)
Fatality = missing_treatment(Fatality)
Fatality = extract_hour(Fatality)
Fatality

C:\Users\dtt16\AppData\Local\Temp\ipykernel_32204\3785816588.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.replace(-9, "Unknown", inplace=True)

3,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,...,Age,National Remoteness Areas,SA4 Name 2021,National LGA Name 2021,National Road Type,Christmas Period,Easter Period,Age Group,Day of week,Time of day
0,20241115,NSW,12,2024,Friday,04,Single,No,No,No,...,74,Inner Regional Australia,Riverina,Wagga Wagga,Arterial Road,Yes,No,65_to_74,Weekday,Night
1,20241125,NSW,12,2024,Friday,06,Single,No,No,No,...,19,Inner Regional Australia,Sydney - Baulkham Hills and Hawkesbury,Hawkesbury,Local Road,No,No,17_to_25,Weekday,Day
2,20246013,Tas,12,2024,Friday,09,Multiple,No,No,No,...,33,Inner Regional Australia,Launceston and North East,Northern Midlands,Local Road,Yes,No,26_to_39,Weekday,Day
3,20241002,NSW,12,2024,Friday,10,Multiple,No,No,No,...,32,Outer Regional Australia,New England and North West,Armidale Regional,National or State Highway,No,No,26_to_39,Weekday,Day
4,20242261,Vic,12,2024,Friday,11,Multiple,Unknown,Unknown,Unknown,...,62,Unknown,NaN,NaN,Undetermined,No,No,40_to_64,Weekday,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56869,19896006,Tas,1,1989,Wednesday,20,Multiple,No,Unknown,Yes,...,13,Unknown,NaN,NaN,Undetermined,No,No,0_to_16,Weekday,Night
56870,19896006,Tas,1,1989,Wednesday,20,Multiple,No,Unknown,Yes,...,13,Unknown,NaN,NaN,Undetermined,No,No,0_to_16,Weekday,Night
56871,19896006,Tas,1,1989,Wednesday,20,Multiple,No,Unknown,Yes,...,18,Unknown,NaN,NaN,Undetermined,No,No,17_to_25,Weekday,Night
56872,19896006,Tas,1,1989,Wednesday,20,Multiple,No,Unknown,Yes,...,14,Unknown,NaN,NaN,Undetermined,No,No,0_to_16,Weekday,Night
56873,19895133,WA,1,1989,Wednesday,21,Multiple,No,Unknown,No,...,70,Unknown,NaN,NaN,Undetermined,No,No,65_to_74,Weekday,Night

In [9]:
# Exploring data set Population
Population

,This tab has one table with the estimated resident population for Remoteness Areas in Australia as at 30 June 2023. It ranges from cell A1 to Y68.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Australian Bureau of Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Table 3. Estimated resident population, Remote...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Regional population, 2022-23",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,ERP at 30 June,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
5,State/Territory,Remoteness Area,no.,no.,no.,no.,no.,no.,no.,no.,...,no.,no.,no.,no.,no.,no.,no.,no.,no.,no.
6,New South Wales,Major Cities of Australia (NSW),4791646,4832878,4867228,4894766,4931770,4974013,5052320,5146661,...,5627414,5723253,5825821,5930874,6011991,6088337,6137535,6112572,6166301,6324725
7,NaN,Inner Regional Australia (NSW),1309389,1321149,1330957,1337690,1346082,1354983,1369615,1384368,...,1465979,1478446,1492516,1509682,1527522,1543589,1559150,1571760,1586980,1602106
8,NaN,Outer Regional Australia (NSW),384554,382991,379956,376856,374896,374139,373071,373575,...,377413,377496,378057,378749,379438,379860,379593,378970,380023,382007
9,NaN,Remote Australia (NSW),34756,34075,33193,32316,31589,30974,30675,30413,...,29496,29038,28670,28378,28076,27657,27202,26778,26549,26581
10,NaN,Very Remote Australia (NSW),10004,9714,9381,9107,8869,8581,8475,8444,...,8051,7935,7794,7633,7449,7305,7130,6982,6851,6866
11,NaN,Total New South Wales,6530349,6580807,6620715,6650735,6693206,6742690,6834156,6943461,...,7508353,7616168,7732858,7855316,7954476,8046748,8110610,8097062,8166704,8342285
12,Victoria,Major Cities of Australia (Vic.),3568891,3615482,3664438,3712279,3767630,3831302,3913364,4003972,...,4556850,4668901,4799835,4909349,5009197,5102070,5159031,5075096,5141424,5311624
13,NaN,Inner Regional Australia (Vic.),951267,958509,965988,971742,978064,985563,995747,1007526,...,1089463,1103877,1122299,1140203,1158531,1177949,1196684,1212737,1228322,1242464
14,NaN,Outer Regional Australia (Vic.),239267,239670,239361,239198,239709,240650,240692,241174,...,245174,246141,247658,249714,251980,253949,256023,256701,257600,258103
15,NaN,Remote Australia (Vic.),4190,4113,4022,3930,3843,3751,3719,3703,...,3430,3403,3380,3342,3330,3337,3308,3288,3285,3250
16,NaN,Total Victoria,4763615,4817774,4873809,4927149,4989246,5061266,5153522,5256375,...,5894917,6022322,6173172,6302608,6423038,6537305,6615046,6547822,6630631,6815441
17,Queensland,Major Cities of Australia (Qld),2168333,2230583,2298157,2359734,2418332,2476660,2547654,2619577,...,2976136,3028447,3090353,3157015,3222134,3288723,3348704,3382871,3457709,3562803
18,NaN,Inner Regional Australia (Qld),730727,743425,758634,776795,796250,815423,833537,852940,...,938578,944134,949508,960334,972419,984906,996676,1009523,1029629,1050895
19,NaN,Outer Regional Australia (Qld),540365,547833,555971,564106,574950,587448,600142,615575,...,671989,674454,677250,681922,685578,689119,694107,697295,707116,719325
20,NaN,Remote Australia (Qld),75356,74777,74455,74175,74214,74347,74928,75901,...,76677,75385,73673,73047,72606,72278,72553,72578,72789,73221
21,NaN,Very Remote Australia (Qld),56688,56505,55904,55160,54748,54114,54757,55512,...,56273,55272,54368,54062,53886,53821,53573,53547,53698,54176
22,NaN,Total Queensland,3571469,3653123,3743121,3829970,3918494,4007992,4111018,4219505,...,4719653,4777692,4845152,4926380,5006623,5088847,5165613,5215814,5320941,5460420
23,South Australia,Major Cities of Australia (SA),1111526,1118045,1124845,1130943,1139403,1151099,1165575,1180478,...,1261432,1272600,1283033,1297031,1312026,1330316,1349946,1358462,1374074,1401213
24,NaN,Inner Regional Australia (SA),136106,138234,140256,142355,144382,145989,148545,151214,...,163872,165816,167624,169202,171108,173244,175799,178509,180969,183812
25,NaN,Outer Regional Australia (SA),196901,197108,197279,197109,197585,198009,198614,198672,...,202592,203332,203668,203940,204354,205060,205729,206496,206852,207572
26,NaN,Remote Australia (SA),41114,41418,41645,41777,41866,42183,42490,42800,...,43655,43733,43594,43742,43969,44171,44387,44741,44983,45274
27,NaN,Very Remote Australia (SA),17814,16762,16374,16005,15568,15249,15395,15501,...,15394,15187,14924,14758,14680,14604,14494,14393,14337,14413
28,NaN,Total South Australia,1503461,1511567,1520399,1528189,1538804,1552529,1570619,1588665,...,1686945,1700668,1712843,1728673,1746137,1767395,1790355,1802601,1821215,1852284
29,Western Australia,Major Cities of Australia (WA),1437203,1455853,1476752,1500508,1524508,1555749,1606740,1660302,...,1947385,1971785,1991389,2018206,2047420,2085159,2132067,2161813,2197476,2277497
30,NaN,Inner Regional Australia (WA),159949,161820,163586,166350,171902,176736,179328,185099,...,217425,219940,221221,224372,227464,230977,234924,239254,243296,248952
31,NaN,Outer Regional Australia (WA),171065,171429,171833,171146,172085,173369,173613,176083,...,187682,186955,185186,186155,186634,187379,189079,190945,192434,194231
32,NaN,Remote Australia (WA),79290,80319,81529,82110,82701,83585,83264,84017,...,90292,89313,87895,88119,88571,89487,90760,91798,92748,93840
33,NaN,Very Remote Australia (WA),58767,59091,59041,59428,60011,61142,63194,66199,...,74824,72679,70287,68868,67703,66623,66082,65555,65840,66707
34,NaN,Total Western Australia,1906274,1928512,1952741,1979542,2011207,2050581,2106139,2171700,...,2517608,2540672,2555978,2585720,2617792,2659625,2712912,2749365,2791794,2881227
35,Tasmania,Inner Regional Australia (Tas.),282992,283674,286591,289490,291601,293579,296348,299743,...,313784,315978,318600,325589,333058,340289,346293,351572,353575,354754
36,NaN,Outer Regional Australia (Tas.),179220,179159,180668,182466,183349,184510,185673,187573,...,189421,188792,188598,190750,193623,196755,200318,204477,206240,207149
37,NaN,Remote Australia (Tas.),8819,8702,8648,8612,8638,8602,8657,8695,...,7934,7848,7783,7884,8042,8213,8391,8600,8630,8672
38,NaN,Very Remote Australia (Tas.),2637,2617,2627,2610,2614,2611,2584,2557,...,2482,2499,2533,2539,2568,2584,2576,2590,2606,2581
39,NaN,Total Tasmania,473668,474152,478534,483178,486202,489302,493262,498568,...,513621,515117,517514,526762,537291,547841,557578,567239,571051,573156
40,Northern Territory,Outer Regional Australia (NT),108280,108679,108433,109211,111388,113461,116935,121210,...,141169,144914,147102,148752,148273,147251,147673,147971,149154,150736
41,NaN,Remote Australia (NT),47012,47087,47115,47198,47488,47945,48747,49959,...,52103,51373,50852,51052,51248,51539,51881,52193,52766,53175
42,NaN,Very Remote Australia (NT),46451,46485,46177,46254,47029,47651,48066,48705,...,49622,48405,47724,47608,47574,47769,47874,47987,48308,48618
43,NaN,Total Northern Territory,201743,202251,201725,202663,205905,209057,213748,219874,...,242894,244692,245678,247412,247095,246559,247428,248151,250228,252529
44,Australian Capital Territory,Major Cities of Australia (ACT),321033,324128,326876,328469,330940,334724,342199,347920,...,388157,395156,402445,414385,425419,435064,444235,451823,456228,465881
45,NaN,Inner Regional Australia (ACT),505,499,481,471,459,446,445,448,...,642,657,659,661,662,666,668,685,687,685
46,NaN,Total Australian Capital Territory,321538,324627,327357,328940,331399,335170,342644,348368,...,388799,395813,403104,415046,426081,435730,444903,452508,456915,466566
47,Other Territories,Inner Regional Australia (OT),542,464,441,428,413,386,370,370,...,361,367,402,398,386,367,335,309,307,307
48,NaN,Very Remote Australia (OT),2042,1933,1895,1928,1968,1993,2144,2313,...,2535,2484,4206,4273,4339,4409,4468,4541,4613,4663
49,NaN,Total Other Territories,2584,2397,2336,2356,2381,2379,2514,2683,...,2896,2851,4608,4671,4725,4776,4803,4850,4920,4970
50,Australia,Major Cities of Australia,13398632,13576969,13758296,13926699,14112583,14323547,14627852,14958910,...,16757374,17060142,17392876,17726860,18028187,18329669,18571518,18542637,18793212,19343743
51,NaN,Inner Regional Australia,3571477,3607774,3646934,3685321,3729153,3773105,3823935,3881708,...,4190104,4229215,4272829,4330441,4391150,4451987,4510529,4564349,4623765,4683975
52,NaN,Outer Regional Australia,1819652,1826869,1833501,1840092,1853962,1871586,1888740,1913862,...,2015440,2022084,2027519,2039982,2049880,2059373,2072522,2082855,2099419,2119123
53,NaN,Remote Australia,290537,290491,290607,290118,290339,291387,292480,295488,...,303587,300093,295847,295564,295842,296682,298482,299976,301750,304013
54,NaN,Very Remote Australia,194403,193107,191399,190492,190807,191341,194615,199231,...,209181,204461,201836,199741,198199,197115,196197,195595,196253,198024
55,NaN,Total Australia,19274701,19495210,19720737,19932722,20176844,20450966,20827622,21249199,...,23475686,23815995,24190907,24592588,24963258,25334826,25649248,25685412,26014399,26648878
56,© Commonwealth of Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Transform the Population data
column_names = Population.iloc[5]
# Handle the missing data
Population = clear_not_data_rows(Population, 5)
# Change the column names with years
Population.columns = list(column_names[:2]) + [f"{year}" for year in range(2001, 2024)]
# Drop the last row that is row of notes
Population.drop(index=Population.index[-1], inplace=True)
Population = unpivot_unmerge_cell(Population)

# Taking only rows with "Total" in Remoteness Area for the state population and with Year = 2023
Population = Population[
    Population["Remoteness Area"].str.contains("Total", case=False, na=False) &
    (Population["Year"] == "2023")
].copy() 

# Drop the 'Remoteness Area' and 'Year' column as it is no longer needed
Population = Population.drop(columns=["Remoteness Area", "Year"])
# Rename column "State/Territory" to "State"
Population = Population.rename(columns={"State/Territory": "State"})

# Replace full state names with abbreviations
Population["state_name"] = Population["State"]
state_map = {
    "New South Wales": "NSW",
    "Victoria": "VIC",
    "Queensland": "QLD",
    "South Australia": "SA",
    "Western Australia": "WA",
    "Tasmania": "TAS",
    "Northern Territory": "NT",
    "Australian Capital Territory": "ACT",
    "Other Territories": "Other",
    "Australia" : "AUS"
}
Population["State"] = Population["State"].replace(state_map).copy()

Population

C:\Users\dtt16\AppData\Local\Temp\ipykernel_32204\3785816588.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["State/Territory"].fillna(method='ffill', inplace=True)
C:\Users\dtt16\AppData\Local\Temp\ipykernel_32204\3785816588.py:18: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["State/Territory"].fillna(method='ffill', inplace=True)

      State Population                    state_name
1105    NSW    8342285               New South Wales
1110    VIC    6815441                      Victoria
1116    QLD    5460420                    Queensland
1122     SA    1852284               South Australia
1128     WA    2881227             Western Australia
1133    TAS     573156                      Tasmania
1137     NT     252529            Northern Territory
1140    ACT     466566  Australian Capital Territory
1143  Other       4970             Other Territories
1149    AUS   26648878                     Australia

In [11]:
# Creating the dim_crash_group table
list_col = ['Crash Type', 'Speed Limit', 'National Road Type', 'Bus Involvement', 'Heavy Rigid Truck Involvement', 'Articulated Truck Involvement']
dim_crash_group = create_dim_table(Fatal_Crash, list_col, "crashgroup_sk")
dim_crash_group

3,crashgroup_sk,Crash Type,Speed Limit,National Road Type,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement
0,1,Single,100,Arterial Road,No,No,No
1,2,Single,80,Local Road,No,No,No
2,3,Multiple,50,Local Road,No,No,No
3,4,Multiple,100,National or State Highway,No,No,No
4,5,Multiple,Unknown,Undetermined,Unknown,Unknown,Unknown
...,...,...,...,...,...,...,...
577,578,Multiple,20,Undetermined,Yes,Unknown,No
578,579,Single,75,Undetermined,No,No,Yes
579,580,Single,30,Undetermined,Yes,Unknown,No
580,581,Multiple,110,Undetermined,Yes,Unknown,Yes
581,582,Multiple,75,Undetermined,Yes,No,No

In [12]:
# Creating the dim_fatality_demographic table
list_col = ['Road User', 'Gender', 'Age Group']
dim_fatality_demographic = create_dim_table(Fatality, list_col, "fatality_demographics_sk")
dim_fatality_demographic

3    fatality_demographics_sk                     Road User   Gender Age Group
0                           1                        Driver     Male  65_to_74
1                           2                        Driver   Female  17_to_25
2                           3                        Driver   Female  26_to_39
3                           4                     Passenger     Male  40_to_64
4                           5                     Passenger   Female  40_to_64
..                        ...                           ...      ...       ...
102                       103              Motorcycle rider   Female   0_to_16
103                       104  Motorcycle pillion passenger   Female  65_to_74
104                       105                        Driver  Unknown   0_to_16
105                       106  Motorcycle pillion passenger   Female   Unknown
106                       107              Motorcycle rider     Male   Unknown

[107 rows x 4 columns]

In [13]:
# Creating the dim_fatality_demographic table
list_col = ['Time','Dayweek','Month','Year']
dim_time = create_dim_table(Fatal_Crash, list_col, "time_sk")
dim_time

3      time_sk Time    Dayweek  Month  Year
0            1   04     Friday     12  2024
1            2   06     Friday     12  2024
2            3   09     Friday     12  2024
3            4   10     Friday     12  2024
4            5   11     Friday     12  2024
...        ...  ...        ...    ...   ...
34752    34753   17  Wednesday      1  1989
34753    34754   18  Wednesday      1  1989
34754    34755   19  Wednesday      1  1989
34755    34756   20  Wednesday      1  1989
34756    34757   21  Wednesday      1  1989

[34757 rows x 5 columns]

In [14]:
# Dimension 'dim_location'
dim_location = Fatal_Crash[['State']].copy()
# Remove duplicate rows
dim_location = dim_location.drop_duplicates().reset_index(drop=True)
# Drop all rows that dont have LGA name, which is the last row of the table
dim_location.drop(index=dim_location[dim_location['State'].isna()].index, inplace=True)
# Uppercase the state names
dim_location['State'] = dim_location['State'].str.upper()
# Join the population data with the location data
dim_location = dim_location.merge(Population, how='left', left_on='State', right_on='State')
dim_location

  State Population                    state_name
0   NSW    8342285               New South Wales
1   TAS     573156                      Tasmania
2   VIC    6815441                      Victoria
3   QLD    5460420                    Queensland
4    SA    1852284               South Australia
5    WA    2881227             Western Australia
6   ACT     466566  Australian Capital Territory
7    NT     252529            Northern Territory

In [15]:
# Create the fact table 'fact_crash'
# Left outer join all dims into the main data 'Fatality' - Data of each fatality
joinOn = list(dim_crash_group.columns[1:])
Fatality = Fatality.merge(dim_crash_group, on=joinOn, how="left")

joinOn = list(dim_fatality_demographic.columns[1:])
Fatality = Fatality.merge(dim_fatality_demographic, on=joinOn, how="left")

joinOn = list(dim_time.columns[1:])
Fatality = Fatality.merge(dim_time, on=joinOn, how="left")

Fatality["State"] = Fatality["State"].str.upper()
Fatality = Fatality.merge(dim_location, on="State", how="left")

# Extract attributes for fact table
fact_crash = Fatality[['Crash ID','crashgroup_sk','fatality_demographics_sk', 'time_sk', 'State']].copy()
fact_crash.columns = ['crash_id', 'crashgroup_sk', 'fatality_demographics_sk', 'time_sk', 'state_id']
# Surrogate key creating by index
fact_crash = fact_crash.reset_index(drop=True) # Reset for correct indexing
fact_crash = fact_crash.reset_index(drop=False)
fact_crash = fact_crash.rename(columns={'index': 'crash_sk'})
fact_crash.iloc[:,0] = fact_crash.iloc[:,0]+1 
fact_crash

,crash_sk,crash_id,crashgroup_sk,fatality_demographics_sk,time_sk,state_id
0,1,20241115,1,1,1,NSW
1,2,20241125,2,2,2,NSW
2,3,20246013,3,3,3,TAS
3,4,20241002,4,3,4,NSW
4,5,20242261,5,4,5,VIC
...,...,...,...,...,...,...
56869,56870,19896006,529,48,34756,TAS
56870,56871,19896006,529,43,34756,TAS
56871,56872,19896006,529,15,34756,TAS
56872,56873,19896006,529,48,34756,TAS
56873,56874,19895133,541,1,34757,WA

In [16]:
# Rename the columns of the dimension tables
dim_crash_group.columns = ['crashgroup_sk','crash_type', 'speed_limit', 'road_type', 'bus_involvement', 'heavy_rigid_truck_involvement', 'articulated_truck_involvement']
dim_fatality_demographic.columns = ['fatality_demographics_sk','road_user', 'gender', 'age_group']
dim_time.columns = ['time_sk', 'time', 'dayweek', 'month', 'year']
dim_location.columns = ['state_id','population','state_name']

## 3. Load data to data warehouse

In [17]:
import os
from sqlalchemy import create_engine, text
from dotenv import load_dotenv

# Load environment variables from .env file, remember to create this file with your credentials
# Read readme file for more information ! 
load_dotenv("postgressql_secretkeys.env")  
# Extract variables
username = os.getenv("PG_USER")
password = os.getenv("PG_PASSWORD")
host     = os.getenv("PG_HOST")
port     = os.getenv("PG_PORT")
dbname   = os.getenv("PG_DB")

# Create the SQLAlchemy engine
engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{dbname}")

# Test connection
with engine.connect() as conn:
    result = conn.execute(text("SELECT version();"))
    print(result.fetchone())
    print("======================================= \n || -- Connected to PostgreSQL! -- || \n=======================================")

('PostgreSQL 17.4 on x86_64-windows, compiled by msvc-19.42.34436, 64-bit',)
=======================================
 || -- Connected to PostgreSQL! -- ||
=======================================

In [18]:
from sqlalchemy import create_engine, text

# Read SQL file
with open("ETL/create_schema.sql", "r", encoding="utf-8") as f:
    schema_sql = f.read()

# Execute SQL script
with engine.connect() as conn:
    conn.execute(text(schema_sql))
    conn.commit()
    print("======================================= \n || -- Schema Created! -- || \n=======================================")

=======================================
 || -- Schema Created! -- ||
=======================================

In [19]:
#Main: Load to Data Warehouse
dim_crash_group.to_sql("dim_crash_group", engine, if_exists="append", index=False)
dim_fatality_demographic.to_sql("dim_fatality_demographic", engine, if_exists="append", index=False)
dim_time.to_sql("dim_time", engine, if_exists="append", index=False)
dim_location.to_sql("dim_location", engine, if_exists="append", index=False)
fact_crash.to_sql("fact_crash", engine, if_exists="append", index=False)

print("======================================= \n || -- Data Loaded to PostgreSQL! -- || \n=======================================")

=======================================
 || -- Data Loaded to PostgreSQL! -- ||
=======================================

In [20]:
from pathlib import Path

# Optional: Export to csv file
create_local_csv = False  # FLAG!: Set to True if you want to export to csv files

if create_local_csv:
    output_dir = Path("raw_data")
    output_dir.mkdir(parents=True, exist_ok=True)  # Ensure the folder exists

    dim_crash_group.to_csv(output_dir / "dim_crash_group.csv", index=False)
    dim_fatality_demographic.to_csv(output_dir / "dim_fatality_demographic.csv", index=False)
    dim_time.to_csv(output_dir / "dim_time.csv", index=False)
    dim_location.to_csv(output_dir / "dim_location.csv", index=False)
    fact_crash.to_csv(output_dir / "fact_crash.csv", index=False)
    print("======================================= \n || -- CSV Files Created! -- || \n=======================================")

In [22]:
# This is just a funny melody to play when the script is finished
# This to let me know that the script is finished and I can do something else
import winsound
import time

# Short funny retro-style melody
notes = [
    (659, 150),  # E5
    (784, 150),  # G5
    (880, 150),  # A5
    (659, 300),  # E5
    (523, 300),  # C5
    (587, 300),  # D5
    (659, 600),  # E5 long
]
for freq, dur in notes:
    winsound.Beep(freq, dur)
    time.sleep(0.05)  
for freq, dur in notes:
    winsound.Beep(freq, dur)
    time.sleep(0.05)